.mazeboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: purple;
    max-width : 1000px;
    width: auto;
    height: auto;

    &__table {
        background-color:wheat;
        border: 3px solid yellow;
        margin: 1em 0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__row{
        display: flex;
        flex-direction: row;
        // &:nth-child(even){
        //     background-color: black;
        // }
    }

    &__cell{
        font-size: 0.7em;
        width: 25px;
        height: 25px;
        text-align: center;
        border : 1px solid black;
        // &:nth-child(odd){
        //     background-color: black;
        // }
    }


    &__wall {
        background-color: black;
    }

    &__path {
        background : darkolivegreen;
    }
}
