.mazeboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: purple;
    width: auto;
    height: auto;

    &__row{
        display: flex;
        flex-direction: row;
    }

    &__cell{
        font-size: 0.7em;
        width: 40px;
        height: 40px;
        text-align: center;
        border : 1px solid black;
    }

    &__boundary{
        background-color: grey;
        color: black;
    }

    &__wall {
        background-color: black;
        color: #fff;
    }

    &__path {
        background : darkolivegreen;
        color: black;
    }
}
